<% include header.ejs %>
<script src="/javascripts/register.js"></script>
<h2>Log in</h2>
  <div>
  <form id="registerform" action="/register" method="post">
    <div>
        <label>Username:</label>
        <input type="text" id="username" name="username"/><div id="usererror" class="formerror"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" id="password" name="password"/><div id="pwerror" class="formerror"/>
    </div>
    <div>
    	<lable>Repeat password:</label>
    	<input type="password" id="repeat" name="repeat"/><div id="reperror" class="formerror"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
 </div> 
<% include footer.ejs %>