<% include ../header.ejs %>
    <h1><%= title %></h1>
    <p>Upload a photo to the front page slideshow below.</p>
    <form method='post' enctype='multipart/form-data'>
<p><input
                type='text' name='photo[caption]' placeholder='Caption'/>
                </p>
      <p><input type='file' name='photo[image]'/></p>
      <p><input type='submit' value='Upload'/></p>
    </form>
    <div id="photolist">
    <% photos.forEach(function(photo) { %>
    	<div class="photo">
	    	<h2><%=photo.caption%></h2>
	    	<img src='/images/slideshow/<%=photo.path%>'/>
	    	<a href="delete?image=<%=photo.path%>">Delete</a>
    	</div>
    <% }) %>
    </div>
<% include ../footer.ejs %>